.App {
  text-align: center;
}
.apptool{
  background-color:#1D1A1A;
  position: fixed;
  right: 0;
  top: 0;
  height: 10%;
  width: 85%;
  z-index: 1;
}
.avatar{
  float: right;
}
.back{
  margin: 0%;
  top: 2%;
  left:1%;
  position: relative;
  float: left;
}
.music-control-bar {
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0;
  background-color: #4B4848;
}
.centerColumn {
  display: flex;
  justify-content: center;  
  align-items: center;
  padding: 5px;
}
.main-content {
  background-color:#1D1A1A;
  position: absolute;
  right: 0;
  top: 10%;
  height: 75%;
  width: 85%;
  overflow: auto; 
}
.main-content::-webkit-scrollbar {
  display: none;
}
.main-inner-container {
  height: inherit;
  width: inherit;
  margin-left: 5%;
  margin-top: 1%;
}
.footer {
  position: fixed;
  bottom: 0;
  height: 15%;
  width: 100%;
  background-color: #4B4848;
}
.col-md-3{
  padding: 25px;
  padding-bottom: 3%;
}